$primary: #4b225e;
$secondary: #69407c;
$primaryColor: #4b225e;
$secondaryColor: #69407c;
$primaryTextColor: white;
$yellow: #fecc2f;

$toolbar-height: 58px;
$sidebar-width: 260px;

$store-border-radius: 10px;